[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "~=1.1"
python-dotenv = "~=0.13"
jinja2 = "~=2.11"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
alembic = "*"

[dev-packages]

[requires]
python_full_version = "3.8.3"
